img{width: 100px;
  margin: 50;
  border-radius: 100px;
}
body{color:whit;
  background-color:white ;
  text-align: center;
}.titre{
  color:blue;
  textpx-align: center;
}.gat{color:blue;}
h2{color:blue;}
